<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRI</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles_login.css">
</head>

<body>
<div class="container">
  <div class="half left-side">
      <span class="crisis-login-block">
        <span class="crisis-login-text">Log In to Crisis </span><span class="crisis-management-text">MANAGEMENT</span>
      </span>
    <input class="input-field email-input" type="email" placeholder="Email">
    <input class="input-field password-input" type="password" placeholder="Password">
    <button class="login-button" onclick="handleLogin()">LOG IN</button>
    <div class="account-text">
      <p class="donthave">Don't have an account?</p>
      <p class="sign-up">Sign up!</p>
    </div>
  </div>

  <div class="half right-side">
    <div class="pro-tips-section">
      <div class="emergency-illustration">
        <img src="/images/firefighter.png" alt="Emergency Response" class="emergency-image">
      </div>

      <div class="tips-content">
        <h3 class="tips-title">PRO tip: <span class="tip-topic" id="tipTopic">what to do in an EARTHQUAKE?</span></h3>

        <div class="tip-text" id="tipText">
          <p>• Drop down to the ground so the earthquake doesn't <strong>knock you down</strong></p>
          <p>• Cover your <strong>head and neck</strong> with your arms to protect you from falling debris. If possible, crawl under a <strong>sturdy desk, table or other piece of furniture</strong> for additional protection. Stay away from glass, windows, outside doors and walls, and other items that could fall.</p>
          <p>• Hold on to any sturdy item you can <strong>until the shaking stops</strong></p>
        </div>

      </div>
    </div>
  </div>

</div>
<script src="/js/pages/login.js"></script>
</body>

</html>